.sideMenu {
    height: 100%;
    background-color: var(--mainFontColor) !important;
    color: var(--mainBgColor);
    border: none !important;
    opacity: 1 !important;
}


.ps-menu-button:hover {
    background-color: var(--mainColor) !important;
}

.sideMenu a.active {
    background-color: var(--mainColor);
    color: #fff;
}

.sideMenu .submenu-link {
    color: var(--mainFontColor);
}

.sideMenu .submenu-link:hover {
    color: #fff;
}

.sideMenu .submenu-link a.active {
    background-color: var(--mainColor);
}

.custom-side .sideMenu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.custom-side .sideMenu-header .collapsed,
.custom-side .sideMenu-header .toggle {
    background-color: transparent;
    border: none;
    color: var(--mainBgColor);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.custom-side .sideMenu-header .toggle {
    display: none;
}

.custom-side .sideMenu-header .logo {
    width: 100%;
    display: flex;
    align-items: center;
}

.custom-side .sideMenu-header .logo img {
    width: 80%;
}

.open-icon {
    width: 3.5rem;

}

.custom-side {
    height: 100%;
}


/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
    .custom-side .sideMenu-header .collapsed {
        display: none;
    }
    .custom-side .sideMenu-header .logo img {
        width: 60%;
    }
    .custom-side .sideMenu-header .toggle {
        display: block;
    }
}