.main-tabel-section {
    width: 80%;
    margin: 0 auto;
}

.main-tabel-section .inactive-user,
.main-tabel-section .active-user {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}




.main-tabel-section .active-user {
    background-color: green;

}

.main-tabel-section .active-user:hover {
    background-color: rgb(1, 180, 1);

}

.main-tabel-section .inactive-user {
    background-color: darkred;

}

.main-tabel-section .inactive-user:hover {
    background-color: rgb(173, 1, 1);

}

.user-table-img {
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}