.course-exams-section .container {}
.course-exams-section .no-exams {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    width: 100%;
    height: 50vh;
}.course-exams-section .no-exams svg {
    color: var(--mainColor);
}
.course-exams-section .container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-exams-section .container .exams-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem 1rem;
    margin-top: 2rem;

}

.course-exams-section .container .exams-cards .exam-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 6px;
    padding: 1rem;
    border-radius: 5px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.course-exams-section .container .exams-cards .exam-card:hover {
    box-shadow: rgb(237, 107, 23, .3) 0px 0px 20px 6px;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    cursor: pointer;
}
.course-exams-section .container .exams-cards .exam-card .exam-img {
    width: 100%;
}

.course-exams-section .container .exams-cards .exam-card .exam-img img {
    width: 100%;
}

.course-exams-section .container .exams-cards .exam-card h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.course-exams-section .container .exams-cards .exam-card p {
    margin-bottom: .5rem;

}

.course-exams-section .container .exams-cards .exam-card p span{
    padding-right: .2rem;
}
.course-exams-section .container .exams-cards .exam-card button{
    margin-top:.5rem ;
}