.sideMenu {
    height: 100%;
    background-color: var(--mainFontColor);
    color: var(--mainBgColor);
    border: none !important;

}


.sideMenu a:hover {
    color: var(--mainFontColor)
}

.sideMenu a.active {
    background-color: #f3f3f3;
    color: var(--mainFontColor);
}

.sideMenu .submenu-link {
    color: var(--mainFontColor);
}

.sideMenu .submenu-link a.active {
    background-color: #e7e7e7;
}

.sideMenu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.sideMenu-header .toggle {
    background-color: transparent;
    border: none;
    color: var(--mainBgColor);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.sideMenu-header .logo {
    width: 100%;
    display: flex;
    align-items: center;
}

.sideMenu-header .logo img {
    width: 80%;
}