//- emailVerified.pug

extends baseEmail

block content
  p Hi #{firstName},
  p Your email has been successfully verified! 🎉📧
  p You are now part of our vibrant learning community. Get ready to dive into a world of knowledge and opportunities!
  p If you have any questions or need assistance, feel free to reach out to us anytime.
  p - The Learning Platform Team

//- Email template adapted from https://github.com/leemunroe/responsive-html-email-template
//- Converted from HTML using https://html2pug.now.sh/
