extends baseEmail

block content
  // Add logo image here

  // Email content
  div(style='background-color: #0B4A6E; border-radius: 35px; padding: 3rem; color: #fff; width:100%')
    img(src='https://res.cloudinary.com/hqjsjnf76/image/upload/v1711915060/fgb6ps4m2bwyytvoq6tg', alt='Logo', style='display: block;')
    p(style='font-size: 16px; color: #fff;') Hi #{firstName},
    p(style='font-size: 16px; color: #fff;') Trouble signing in?
    p(style='font-size: 16px; color: #fff;') Just press the button below and follow the instructions. We’ll have you up and running in no time.
    a(href=url, class="btn btn-primary", target='_blank', style='color: #fff; text-decoration: none; margin: 0 auto; background-color: #ED6B17; padding: 10px 20px; border-radius: 5px; transition: background-color 0.3s;') Reset your password
    p(style='font-size: 16px; color: #fff;') If you did not make this request then please ignore this email.