.admin-section {
    margin-top: 0;
    display: flex;
    min-height: 100vh;
}

.admin-section .left {
    flex-grow: 0;
    max-width: 300px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.admin-section .right {
    flex-grow: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}